header{
    background: linear-gradient(#bbbbbb 60%,white) ;
    padding: 20px 0 ;
}
.banner{
    transition: 0.5s all;
}
.banner:hover {
    transform: scale(1.3);
}
.caixa{
    position: relative ;
    width: 980px ;
    margin: 0 auto ;
}
nav{
    position: absolute;
    top: 110px ;
    right: 0 ;
}
nav li {
    display: inline ;  
    margin: 0 0 0 17px;
}
nav a {
    text-transform: uppercase ;
    color: black ;
    font-weight: bold ;
    font-size: 22px ;
    text-decoration: none ;
    transition: 0.5s all ;
}
nav a:hover {
    color: rgb(39, 153, 39) ;
    text-decoration: underline ;
}
.produtos{
    width: 940px ;
    margin: 0 auto ;
    padding: 50px 0 ;
}
.produtos li {
    display: inline-block ;
    text-align: center ;
    width: 30% ;
    vertical-align: top ;
    margin: 0 1.5% ;
    padding: 30px 20px ;
    box-sizing: border-box ;
    border:2px solid #000000 ;
    border-radius: 10px ;
}
.produtos li:hover {
    color: rgb(142, 19, 19) ;
    border-color: rgb(142, 19, 19);
    transition: 0.5s all;
}
.produtos li:active{
    color: rgb(18, 148, 31) ;
    border-color:rgb(18, 148, 31) ;
    transition: 0.5s all;
}
.produtos li:hover h2 {
    font-size: 35px;
    transition: 0.5s all;
}
.produtos h2 {
    font-size: 22px ;
    font-weight:  bold ;
}
.produto-descrição{
    font-size: 18px ;
}
.preço{
    font-size: 22px ;
    font-weight: bold ;
    margin-top: 15px ;
}
.preço__barba {
    margin-bottom: .8em;
}
footer{
    text-align: center ;
    background: #000000 ;
    padding: 40px 0 ;
}
.copywhigt{
    color: rgb(142, 19, 19) ;
    font-size: 14px ;
    margin: 20px 0 ;
}

